.footer {
    position: relative;
    background-color: #8000a7;
    color: #FFF;
    padding: 2em;
    text-align: center;
    width: 100%;
    padding: 2em 0;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li {
    margin: 0 1em;
}

.social_list li:hover {
    color: #ffbb33;
    transition: 0.5s;
}

.social_list svg {
    font-size: 1.5em;
    cursor: pointer;
}

.copy_right {
    margin-top: 2em;
}

.copy_right {
    font-weight: bold;
    color: #ffbb33;
}